<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Atenas</title>

        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/output.css" type="text/css">

        <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <script src="js/send.js"></script>
        <script src="js/util.js"></script>
    </head>
    <body class="bg-background"
        :class="searchMode ? 'overflow-hidden' : 'overflow-auto'"
        x-data="
            {
                searchMode: false,
                books: [],
            }
        ", x-init="
            books = await getBooks();
        ">
        <header x-data="{ showAdminForm: false }" class="w-full h-screen-90 fixed top-0 left-0 z-[-1]">
            <!-- Image -->
            <div class="w-full h-full bg-lib brightness-75"></div>

            <!-- Left Square -->
            <div class="w-full h-full overflow-hidden">
                <div class="block absolute w-1/2 h-[80rem] bg-aqua top-[-45rem] left-[-15rem] rotate-45"></div>
            </div>

            <!-- Left Content -->
            <div>
                <a class="
                    left-7 top-5 absolute text-5xl text-white p-2 rounded-lg w-14 h-14
                    hover:bg-black/10 transition-[background] duration-300 flex justify-center items-center
                " href title="Retornar à página inicial">A</a>

                <a @click.prevent="showAdminForm = !showAdminForm" class="
                    right-20 top-2 absolute text-xl text-white p-2 rounded-lg w-14 h-14
                    hover:bg-black/10 transition-[background] duration-300 flex justify-center items-center
                " href title="Retornar à página inicial">Administrativo</a>

                <div x-show="showAdminForm" x-transition.scale.top class="
                    right-5 top-14 absolute text-xl text-white p-4 rounded-lg w-96 h-48 bg-background
                    flex justify-start items-center flex-col
                "
                x-data="{
                    login: '',
                    password: '',
                }">
                    <input class="
                        bg-background-darker w-full rounded-lg text-lg text-black p-2
                        font-montserrat mb-2 border-none outline-none
                    " x-model="login" placeholder="Login" type="text">

                    <input class="
                        bg-background-darker w-full rounded-lg text-lg text-black p-2
                        font-montserrat mb-2 border-none outline-none
                    " x-model="password" placeholder="Senha" type="password">

                    <button @click.prevent="
                        if (login === 'admin' && password === 'admin')
                            window.location.href = 'http://localhost:3000/admin';
                        else if (login === 'gleison' && password === '1234')
                            window.location.href = 'http://localhost:3000/worker';
                        else if (login === 'renato' && password === '1234')
                            window.location.href = 'http://localhost:3000/professor';
                        else if (login === 'antonio' && password === '1234')
                            window.location.href = 'http://localhost:3000/student';
                        else if (login === 'kayky' && password === '1234')
                            window.location.href = 'http://localhost:3000/student';
                        else {
                            login = '';
                            password = '';
                            showAdminForm = false;
                        }
                    " class="
                        bg-aqua w-full rounded-lg text-lg text-white p-2 cursor-pointer
                        font-montserrat hover:brightness-95 transition-[background, brightness] duration-300
                    " type="submit">Entrar</button>
                </div>

                <p class="
                    text-white text-sm tracking-widest font-bold uppercase font-montserrat w-110
                    absolute top-[10.5rem] left-[5rem] z-10
                ">
                    Atenas
                </p>

                <p class="text-white text-5xl w-110 absolute top-[12rem] left-[5rem] z-10">
                    Toda a cultura grega em um só lugar.
                </p>

                <p class="text-white text-xl w-96 absolute top-[19rem] left-[5rem] z-10">
                    Descubra o que a Grécia tem a oferecer, a um clique de distância.
                </p>
            </div>
        </header>

        <div x-data="
            {
                searchText: '',
                get getBooks() {
                    return books.filter(
                        b => b.name.toLowerCase().includes(this.searchText.toLowerCase()) ||
                            b.author.toLowerCase().includes(this.searchText.toLowerCase()) ||
                            b.subject.toLowerCase().includes(this.searchText.toLowerCase())
                    );
                }
            }
            " @keyup.escape="
                searchMode = false;
                searchText = '';
            ">
            <!-- Search Bg -->
            <div x-show="searchMode == true" class="absolute top-0 left-0 w-full h-screen bg-black/30" @click="searchMode = false; searchText = '';"></div>

           <!-- Search Box -->
           <div
               class="
                   w-1/2 h-14 cursor-pointer bg-white rounded-full absolute
                   left-1/2 -translate-x-1/2 flex justify-center items-center
                   hover:brightness-90 transition-[background, brightness] duration-300
               "
               :class="searchMode ? 'top-20' : 'top-105'"
               @click="searchMode = true; window.scrollTo(0, 0); $nextTick(() => $refs.searchInput.focus())">
               <div class="flex-1 flex justify-center items-center" x-show="searchMode">
                    <input x-ref="searchInput" placeholder="Comece a digitar" x-model="searchText" class="flex-1 border-none outline-none bg-opacity-0 p-4 rounded-full font-montserrat" type="text" />
               </div>
               <!-- else -->
               <div class="flex-1 flex justify-center items-center" x-show="!searchMode">
                    <img class="mr-3 w-7" src="assets/icons/search.svg" alt="Search">
                    <span class="font-montserrat">Pesquisar</span>
               </div>
           </div>

           <!-- Search Results -->
           <div
            x-show="searchMode && searchText !== ''"
            class="absolute left-1/2 top-40 -translate-x-1/2 bg-white rounded-3xl w-1/2 h-96 p-4 overflow-auto">
                <template x-for="book in getBooks" :key="book.name">
                    <a :href="'/book/' + book.id"
                        class="bg-black/10 p-4 rounded-lg mb-4 block w-full
                        hover:bg-black/20 transition-[background] duration-300">
                        <h1 class="font-bold text-xl" x-text="book.name"></h1>
                        <h2 class="text-lg" x-text="book.author"></h2>
                        <p class="text-sm" x-text="book.subject"></p>
                    </a>
                </template>
           </div>
        </div>

        <main class="w-full mt-[90vh] pb-6 bg-background">
            <!-- Os melhores títulos da Grécia -->
            <div class="w-full flex justify-center items-center flex-col p-6">
                <h1 class="text-xl uppercase tracking-widest font-bold mb-6">Os melhores títulos da Grécia estão aqui</h1>
                <p class="mt-[-1rem]">Livros selecionados com cuidado, com assuntos variados desde a filosofia antiga até à mitologia grega.</p>

                <div class="w-full mt-10 flex justify-evenly items-center">
                    <div class="bg-background-darker p-4 rounded-lg w-40 h-40 hover:brightness-95
                    transition-[background, brightness] duration-300" title="Antígona, de Sófocles">
                        <img class="w-full h-full" src="assets/books/Antigona.png" alt="Antigona">
                    </div>

                    <div class="bg-background-darker p-4 rounded-lg w-40 h-40 hover:brightness-95
                    transition-[background, brightness] duration-300" title="Apologia de Sócrates, de Platão">
                        <img class="w-full h-full" src="assets/books/Apologia.png" alt="Apologia">
                    </div>

                    <div class="bg-background-darker p-4 rounded-lg w-40 h-40 hover:brightness-95
                    transition-[background, brightness] duration-300" title="Ilíada, de Homero">
                        <img class="w-full h-full" src="assets/books/Iliada.png" alt="Iliada">
                    </div>

                    <div class="bg-background-darker p-4 rounded-lg w-40 h-40 hover:brightness-95
                    transition-[background, brightness] duration-300" title="Metafísica, de Aristóteles">
                        <img class="w-full h-full" src="assets/books/Metafisica.png" alt="Metafísica">
                    </div>

                    <div class="bg-background-darker p-4 rounded-lg w-40 h-40 hover:brightness-95
                    transition-[background, brightness] duration-300" title="Odisseia, de Homero">
                        <img class="w-full h-full" src="assets/books/Odisseia.png" alt="Odisseia">
                    </div>
                </div>
            </div>

            <!-- Como os livros são descritos -->
            <div class="w-full flex justify-center items-center flex-col p-6">
                <h1 class="text-xl uppercase tracking-widest font-bold mb-6">Como os livros são descritos</h1>
                <p class="mt-[-1rem] w-1/2">Na biblioteca virtual Atenas, o nosso foco é providenciar a melhor informação sobre os livros da Grécia. Esse é um exemplo de como eles são descritos:</p>

                <div class="w-full flex justify-center items-center p-6">
                    <div class="
                        bg-background-darker p-4 rounded-xl w-3/5
                        flex justify-center items-center
                    ">
                        <div class="w-1/3 h-full flex justify-center items-center">
                            <img class="w-full" src="assets/books/Metafisica.png" alt="Metafísica">
                        </div>

                        <div class="flex-1 ml-2">
                            <h1 class="text-3xl font-bold mt-2">Metafísica</h1>
                            <h2 class="text-lg">Aristóteles</h2>

                            <p class="text-lg mt-2">
                                Assunto:
                                <span class="font-bold">Filosofia</span>
                            </p>
        
                            <p class="text-lg">
                                Data de publicação:
                                <span class="font-bold">1 de fevereiro de 2012</span>
                            </p>
        
                            <p class="text-lg">
                                Classificação:
                                <span class="font-bold">★★★★★</span>
                            </p>

                            <h3 class="text-sm uppercase tracking-widest font-bold mt-4">Resumo</h3>
                            <p class="w-4/5 mt-2">
                                A obra Metafísica trata dos princípios da realidade sensível que, como a matéria e a forma, 
                                parecem ser estruturas fundamentais da realidade, dos números e da matemática.
                                Existe até mesmo um pequeno vocabulário filosófico e uma breve “história da filosofia”, 
                                mas o ser, a essência, as formas de ser constituem o argumento central do texto.
                            </p>

                            <h3 class="text-xs uppercase tracking-widest font-bold mt-2">Fonte: Book7</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Os mais lidos -->
            <div class="w-full flex justify-center items-center flex-col p-6">
                <h1 class="text-xl uppercase tracking-widest font-bold mb-6">Os mais lidos</h1>

                <div class="w-full flex justify-evenly items-center">
                    <a href="/book/metafisica" class="
                        bg-background-darker p-4 rounded-xl text-center hover:brightness-95
                        transition-[background, brightness] duration-300 cursor-pointer
                    ">
                        <img class="w-64 h-64" src="assets/books/Metafisica.png" alt="Metafísica">
                        <h1 class="text-lg font-bold mt-2">Metafísica</h1>
                        <h2>Aristóteles</h2>
                    </a>

                    <a href="/book/apologia" class="
                        bg-background-darker p-4 rounded-xl text-center hover:brightness-95
                        transition-[background, brightness] duration-300 cursor-pointer
                    ">
                        <img class="w-64 h-64" src="assets/books/Apologia.png" alt="Metafísica">
                        <h1 class="text-lg font-bold mt-2">Apologia de Sócrates</h1>
                        <h2>Platão</h2>
                    </a>

                    <a href="/book/odisseia" class="
                        bg-background-darker p-4 rounded-xl text-center hover:brightness-95
                        transition-[background, brightness] duration-300 cursor-pointer
                    ">
                        <img class="w-64 h-64" src="assets/books/Odisseia.png" alt="Metafísica">
                        <h1 class="text-lg font-bold mt-2">Odisseia</h1>
                        <h2>Homero</h2>
                    </a>
                </div>
            </div>
        </main>

        <footer class="w-full bg-aqua p-6 text-center">
            <h1 class="font-bold text-2xl">Atenas</h1>
            <h3>Atenas &copy; Copyright 2024. Todos os direitos reservados.</h3>
        </footer>
    </body>
</html>