<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aluno - Atenas</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/output.css">

        <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
        
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <script src="js/send.js"></script>
        <script src="js/util.js"></script>
    </head>
    <body class="bg-background">
        <header class="w-full h-24 bg-lib shadow-lg fixed top-0 left-0 z-[-1]">
            <div>
                <a class="
                    left-7 top-5 absolute text-5xl text-white p-2 rounded-lg w-14 h-14
                    hover:bg-black/10 transition-[background] duration-300 flex justify-center items-center
                " href="/" title="Retornar à página inicial">A</a>
            </div>
        </header>

        <main class="w-full h-fit flex justify-start items-center flex-col mt-[7rem] bg-background"
            x-data="
                {
                    books: [],
                }
            "
            x-init="
                books = await getBooks();
            ">
            <h1 class="font-bold text-3xl mb-2">Aluno</h1>
            <h1 class="text-xl mb-6">Visualizar livros cadastrados</h1>
            
            <div class="w-2/3 overflow-auto">
                <template x-for="(book, index) in books">
                    <div class="bg-background-darker rounded-lg w-full h-fit mb-4 flex justify-start flex-col p-4">
                        <label>Nome</label>
                        <input class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4" type="text" x-model="book.name" disabled>

                        <label>Autor</label>
                        <input class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4" type="text" x-model="book.author" disabled>

                        <label>Assunto</label>
                        <input class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4" type="text" x-model="book.subject" disabled>

                        <label>Data de Publicação</label>
                        <input class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4" type="text" x-model="book.publishDate" disabled>

                        <label>ID</label>
                        <input class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4" type="text" x-model="book.id" disabled>

                        <label>Quantidade de Exemplares</label>
                        <input class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4" type="number" x-model="book.quantity" disabled>

                        <label>Resumo</label>
                        <textarea class="bg-black/10 p-2 rounded-lg border-none outline-none mb-4 resize-none h-40" type="text" x-model="book.resume" disabled>
                    </div>
                </template>
            </div>
        </main>
        
        <footer class="w-full bg-aqua p-6 text-center">
            <h1 class="font-bold text-2xl">Atenas</h1>
            <h3>Atenas &copy; Copyright 2024. Todos os direitos reservados.</h3>
        </footer>
    </body>
</html>
